pkgbase = mac
	pkgdesc = A fast and powerful lossless audio compressor
	pkgver = 4.69
	pkgrel = 1
	url = https://www.monkeysaudio.com/index.html
	arch = i686
	arch = x86_64
	license = custom
	makedepends = curl
	depends = gcc-libs
	source = https://monkeysaudio.com/files/MAC_SDK_469.zip
	sha256sums = 90e09014353ea2d1cfa6017ed74f40c02ba1f89fd86e1c492ffffd7e70441848

pkgname = mac

