pkgbase = mac
	pkgdesc = A fast and powerful lossless audio compressor
	pkgver = 5.55
	pkgrel = 1
	url = https://www.monkeysaudio.com/index.html
	arch = i686
	arch = x86_64
	license = custom
	makedepends = curl
	depends = gcc-libs
	source = https://monkeysaudio.com/files/MAC_SDK_555.zip
	sha256sums = 5a044acf923745d54beaed0dcd576c29c72d1fb56c6d744419c0ee8cf1294d6f

pkgname = mac

