pkgbase = xrdp
	pkgdesc = An open source remote desktop protocol (rdp) server
	pkgver = 0.9.11
	pkgrel = 1
	url = http://www.xrdp.org/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = nasm
	depends = glibc
	depends = libxrandr
	depends = lame
	depends = opus
	depends = fuse
	optdepends = tigervnc: optional backend
	options = staticlibs
	backup = etc/xrdp/cert.pem
	backup = etc/xrdp/key.pem
	backup = etc/xrdp/rsakeys.ini
	backup = etc/xrdp/sesman.ini
	backup = etc/xrdp/xrdp.ini
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.9.11/xrdp-0.9.11.tar.gz
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.9.11/xrdp-0.9.11.tar.gz.asc
	source = arch-config.patch
	validpgpkeys = 61ECEABBF2BB40E3A35DF30A9F72CDBC01BF10EB
	sha256sums = 3569a29402ee2f5f1c07fa2adda68d6bda30f9c49b2582391d5065fb01a1a83c
	sha256sums = SKIP
	sha256sums = 1320780945213282d05e1cf3149179debba9a4cc12405a4456e5a1398e5c9ee7

pkgname = xrdp

