pkgbase = xrdp
	pkgdesc = An open source remote desktop protocol (rdp) server
	pkgver = 0.9.12
	pkgrel = 1
	url = http://www.xrdp.org/
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = nasm
	depends = glibc
	depends = fuse
	depends = libjpeg-turbo
	depends = libxfixes
	depends = libxrandr
	depends = lame
	depends = opus
	depends = pam
	depends = pixman
	optdepends = tigervnc: optional backend
	options = staticlibs
	backup = etc/xrdp/cert.pem
	backup = etc/xrdp/key.pem
	backup = etc/xrdp/rsakeys.ini
	backup = etc/xrdp/sesman.ini
	backup = etc/xrdp/xrdp.ini
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.9.12/xrdp-0.9.12.tar.gz
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.9.12/xrdp-0.9.12.tar.gz.asc
	source = arch-config.patch::https://aur.archlinux.org/cgit/aur.git/plain/arch-config.diff?h=xrdp
	validpgpkeys = 61ECEABBF2BB40E3A35DF30A9F72CDBC01BF10EB
	sha256sums = 9d3d7865c372afc8f9acbd93d59f3a5aae244509577b003ffc46af8ff32a21e6
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = xrdp

