pkgbase = cppcheck
	pkgdesc = Static analysis tool for C/C++ code
	pkgver = 1.87
	pkgrel = 1
	url = http://cppcheck.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = python
	makedepends = qt5-tools
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-charts
	source = cppcheck-1.87-src.tar.gz::https://github.com/danmar/cppcheck/archive/1.87.tar.gz
	sha256sums = ea7ac1cd2f5c00ecffd596fd0f7281cba44308e565a634fae02b77ecd927c153

pkgname = cppcheck

