pkgbase = cppcheck
	pkgdesc = Static analysis tool for C/C++ code
	pkgver = 1.90
	pkgrel = 1
	url = http://cppcheck.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = python
	makedepends = qt5-tools
	depends = hicolor-icon-theme
	depends = qt5-base
	depends = qt5-charts
	source = cppcheck-1.90-src.tar.gz::https://github.com/danmar/cppcheck/archive/1.90.tar.gz
	sha256sums = c4864d3e09359214efdd503b52e241f4f56ba7ce26f8c11939fd9dcfac1fd105

pkgname = cppcheck

